@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(94, 25, 159);
    height: 100vh;
    width: 100vw;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

section#login > div#imagem{
    display: block;
    background: rgb(94, 25, 159) url(../imagens/pexels-diogo-miranda-2044514-27814117.jpg);
    height: 180px;
    background-position: center center;
    background-size: cover;   
}

section#login > div#formulario{
    padding: 10px;
}

section#login > div#formulario > h1{
    text-align: center;
}

section#login > div#formulario > p{
    padding: 5px;
    text-align: justify;
}

div#formulario .campo{
    background-color: rgb(66, 17, 111);
    border-radius: 10px;
    padding: 5px;
    color:white;
}

div.campo > label{
    display: none;
}

#botoes{
    text-align: center;
}

input[type="text"],
input[type="password"]{
    width: calc(100% - 29px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    outline: none;
    
}

input[type="submit"]{
    padding: 10px;
    margin-top: 8px;
    background-color: rgb(94, 25, 159);
    border-radius: 10px;
    border: 2px solid black;
}

input[type="reset"]{
    padding: 10px;
    margin-top: 8px;
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid black;
}

input[type="submit"]:hover{
    background-color: rgb(20, 40, 200);
}

input[type="reset"]:hover{
    background-color: #999;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    transform: scale(1.05);
}